$base-font-family: 'MontserratRegular';
$base-font-bold: 'MontserratBold';
$base-font-italic: 'MontserratItalic';
$base-jp-font: 'YuGothicBold';
$base-jp-font-reg: 'YuGothic';

$base-font-size: 20px;

$color-text-primary: #101010;
$color-text-secondary: #ffffff;

$color-bg-primary: #292929;
$color-bg-secondary: #000000;
$color-bg-tertiary: #F5F5F5;

$site-width: 1120 + 60;

$tablet-width: 768px;
$desktop-width: 1024px;

//Test